<div class="section block-primary position-r align-c-xs-max">
    <div id="particles-js" class="site-bg">
      <div class="site-bg-img" style="background-image: url('assets/img/bg/bg3.JPG')"></div>
      <div class="site-bg-overlay" style="background-color: rgba(0, 0, 0, 0.6);"></div>
      <div class="site-bg-effect layer" data-depth=".30"></div>
      <canvas class="site-bg-canvas layer" data-depth=".30" particles></canvas>
    </div> 

  <div class="container align-c">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-inner">
          <div class="section-heading">
            <h2>You are the chosen one!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- #home
<div class="container">
	<div class="row profile_menu">
	    <ul class="nav nav-boxed nav-justified" style="padding-top: 1%;">
	        <li>
	        	<a href="#/index/profile/edit"><i class="color-success glyphicon glyphicon-pencil"></i>Edit Profile</a>
        	</li>
	        <li class="active">
	        	<a href="#/index/profile/applications"><i class="color-warning glyphicon glyphicon-ok"></i>Applications</a>
        	</li>
	    </ul>
	</div>
</div> -->
<div ui-view class=""></div>