<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Impact Brazil</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
  <link rel='stylesheet' href='assets/css/bootstrap.min.css'>
  <link rel='stylesheet' href='assets/css/vendor.css'>
  <link rel='stylesheet' href='assets/css/style.css'>
  <link rel='stylesheet' href='assets/css/custom.css'>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--[if lte IE 9]><!-->
  <script src='assets/js/vendor/html5shiv.min.js'></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <!--<![endif]-->
</head>
<body>

  <div class="site">
    <div class="site-loader">
      <div class="site-loader-spinner"></div>
    </div> <!-- .site-loader -->

    <div class="site-canvas">
      <header class="site-header">
        <nav class="navbar navbar-theme">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand-wrap">
                <a class="navbar-brand" href="#">
                  <img src="assets/img/site-header.png" alt="">
                </a>
              </div>
            </div> <!-- .navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#brief_1">About</a></li>
                <li><a href="#brief_2">Volunteer</a></li>
                <li><a href="#brief_3">Talent</a></li>
                <li><a href="#brief_4">Entrepreneur</a></li>
                <li><a class="hidden" href="#pricing">Opportunities</a></li>
                <li class="audio-toggle"><a href="#"><i class="fa fa-volume-up"></i></a></li>
              </ul>
            </div> <!-- .navbar-collapse -->
          </div>
        </nav>
      </header> <!-- .site-header -->
      <main class="site-main">
        <div id="home" class="section block-primary position-r align-c-xs-max">
          <div id="particles-js" class="site-bg">
            <div class="site-bg-img"></div>
            <div class="site-bg-video"></div>
            <div class="site-bg-overlay"></div>
            <div class="site-bg-effect layer" data-depth=".30"></div>
            <canvas class="site-bg-canvas layer" data-depth=".30"></canvas>
          </div> <!-- .site-bg -->

          <div class="container align-c fill visible-md visible-lg">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-inner">
                  <div class="section-heading content cover">
                    <div class="visible">
                      <p>Impact</p>
                      <ul>
                        <li>your limits</li>
                        <li>your taste</li>
                        <li>your heart</li>
                        <li>Brazil</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container align-c visible-sm visible-xs">
            <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner" data-sr="left">
                  <div class="section-heading mobile_cover">
                    <h1 class="mobile_cover">Impact Brazil</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #home -->

        <div id="brief_1" class="section block-default align-c-xs-max">
          <div class="container align-c">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-inner">
                  <div class="section-heading">
                    <img src="assets/img/stamp.png" style="width:20%;height:20%;" alt="">
                    <h1><big>Impact Brazil</big></h1>
                    <p><b>When we talk about Impact, it demands us to act</b>. And <u>action</u>, is what moves us every single day to deliver leadership to the world and to our country.<br/>
 We don't want to be just Brazilians on board for the change we want to see happening. We invite the world to build with us a legion of changemakers, raising a fearless movement. If you found us, you must have your reasons. You must be willing to develop yourself, change the way you think and see things - And grow as a human being - For us, what matters is having your own cause - <b>But being open to join us, in a life changing journey</b>.<br/> 
What are you waiting to Impact Brazil, - With us and for you? </p>
                  </div>
                  <div class="section-content">
                    <a class="btn btn-pink m-y-5" href="#brief_2">Discover your Journey with us</a>
                  </div> <!-- .section-content -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_1 -->

        <div id="brief_2" class="section block-warning align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
                <div class="col-inner clearfix visible-sm visible-md visible-lg">
                  <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/img/item/brief-2.png" alt="" data-sr="left">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>Work on a</h5>
                    <h2>NGO</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <p>In a country where inequality reaches high levels, the 3rd sector is not only fundamental but an enviroment full of opportunities. In Brazil, AIESEC works with projects all designed to contribute to the Sustainable Development Goals with methodologies that makes the exchange participant a learning facilitator, from marketing to educational projects.</p>
                    <a class="btn btn-pink m-y-5" href="https://opportunities.aiesec.org/programmes/GV?home_mcs%5B%5D=1606" target="_blank">Apply for Opportunities</a>
                  </div> <!-- .section-content -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_2 -->

        <div id="brief_3" class="section block-success align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>Work on a</h5>
                    <h2>Company</h2>
                    <p>Brazil is a country full of diversity not just on the mother nature, our economy is moved by different industries and services. Our Professional Projects are focus on Marketing, Business, Teaching, IT and Engineering and provide to international students an opportunity to have a professional experience in these fields.</p>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <a class="btn btn-invert m-y-5" href="https://opportunities.aiesec.org/programmes/GT?home_mcs%5B%5D=1606" target="_blank">Apply for Opportunities</a>
                  </div> <!-- .section-content -->
                </div>
              </div>
              <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
                <div class="col-inner clearfix visible-sm visible-md visible-lg">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/img/item/brief-3.png" alt="" data-sr="right">
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_3 -->

        <div id="brief_4" class="section block-warning align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
                <div class="col-inner clearfix visible-sm visible-md visible-lg">
                  <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/img/item/brief-4.png" alt="" data-sr="left">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>Work on a</h5>
                    <h2>Startup</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <p>Brazil is globally one of the countries that is most growing in the entrepreneur scenario. With this entrepreneur culture getting stronger in Brazil the startup movement increase more than 40%. The Venture Project is an opportunity for entrepreneur students come to Brazil and work in a startup during the period of 8-12 weeks. A challenging and innovating environment is waiting for you!</p>
                    <a class="btn btn-pink m-y-5" href="https://opportunities.aiesec.org/programmes/GT?home_mcs%5B%5D=1606" target="_blank">Apply for Opportunities</a>
                  </div> <!-- .section-content -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_4 -->

        <div id="pricing" class="section block-light align-c hidden" ng-app="impactbrazil">
          <div class="container" ng-controller="opportunitiesCtrl">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>Come to impact!</h5>
                    <h2>Available Opportunities</h2>
                    <p>On Sep 2015, every UN member state adopted a set of goals to end poverty, protect the planet, and ensure prosperity for all as part of a new sustainable development agenda. Each goal has specific targets to be achieved over the next 15 years. For the goals to be reached, everyone needs to do their part: governments, the private sector, civil society and people like you.</p>
                  </div>
                  <div class="section-content sdgs">
                    <div class="row visible-md visible-lg">
                      <img src="assets/img/sdgs/GG.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('all')">
                      <img src="assets/img/sdgs/SDG1.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg1')">
                      <img src="assets/img/sdgs/SDG2.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg2')">
                      <img src="assets/img/sdgs/SDG3.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg3')">
                      <img src="assets/img/sdgs/SDG4.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg4')">
                      <img src="assets/img/sdgs/SDG5.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg5')">
                      <img src="assets/img/sdgs/SDG6.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg6')">
                      <img src="assets/img/sdgs/SDG7.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg7')">
                      <img src="assets/img/sdgs/SDG8.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg8')">
                      <img src="assets/img/sdgs/SDG9.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg9')">
                      <img src="assets/img/sdgs/SDG10.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg10')">
                      <img src="assets/img/sdgs/SDG11.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg11')">
                      <img src="assets/img/sdgs/SDG12.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg12')">
                      <img src="assets/img/sdgs/SDG13.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg13')">
                      <img src="assets/img/sdgs/SDG14.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg14')">
                      <img src="assets/img/sdgs/SDG15.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg15')">
                      <img src="assets/img/sdgs/SDG16.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg16')">
                      <img src="assets/img/sdgs/SDG17.png" class="col-xs-12 col-sm-1" alt="" ng-click="filterSDG('sdg17')">
                    </div>
                    <div class="row visible-sm visible-xs form-group required">
                      <select class="form-control">
                        <option value="">SDG Filter</option>
                        <option value="sdg1">SDG 1 - No Poverty</option>
                        <option value="sdg2">SDG 2 - Zero Hunger</option>
                        <option value="sdg3">SDG 3 - Good Health and Well-Being</option>
                        <option value="sdg4">SDG 4 - Quality Education</option>
                        <option value="sdg5">SDG 5 - Gender Equality</option>
                        <option value="sdg6">SDG 6 - Clear Water and Sanitation</option>
                        <option value="sdg7">SDG 7 - Affordable and Clear Energy</option>
                        <option value="sdg8">SDG 8 - Decent Work and Economic Growth</option>
                        <option value="sdg9">SDG 9 - Industry, Innovation and Infrastructure</option>
                        <option value="sdg10">SDG 10 - Reduced Inequalities</option>
                        <option value="sdg11">SDG 11 - Sustainable Cities and Communities</option>
                        <option value="sdg12">SDG 12 - Responsive Consumption and Production</option>
                        <option value="sdg13">SDG 13 - Climate Action</option>
                        <option value="sdg14">SDG 14 - Life Below Water</option>
                        <option value="sdg15">SDG 15 - Life on Land</option>
                        <option value="sdg16">SDG 16 - Peace, Justice and Strong Institutions</option>
                        <option value="sdg17">SDG 17 - Partnership for the Goals</option>
                      </select>
                    </div>
                  </div>
                  <div class="section-content m-t-60-sm-min">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table m-t-0-xs-max">
                          <div class="pricing-table-header block-invert">
                            <span class="pricing-table-badge">
                              <i class="fa fa-usd"></i>
                            </span>
                            <h5 class="pricing-table-caption">Speak With Me Yalova</h5>
                            <h2 class="pricing-table-title">SDG 1</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Cuiabá</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table">
                          <div class="pricing-table-header block-primary">
                            <span class="pricing-table-badge">
                              <i class="fa fa-cutlery"></i>
                            </span>
                            <h5 class="pricing-table-caption">Startaê</h5>
                            <h2 class="pricing-table-title">SDG 2</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Aracaju</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table">
                          <div class="pricing-table-header block-pink">
                            <span class="pricing-table-badge">
                              <i class="fa fa-medkit"></i>
                            </span>
                            <h5 class="pricing-table-caption">Talk Project</h5>
                            <h2 class="pricing-table-title">SDG 3</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Recife</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                      
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table">
                          <div class="pricing-table-header block-warning">
                            <span class="pricing-table-badge">
                              <i class="fa fa-book"></i>
                            </span>
                            <h5 class="pricing-table-caption">X4Change</h5>
                            <h2 class="pricing-table-title">SDG 4</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Teresina</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                    </div>
                  </div> <!-- .section-content -->
                  <div class="section-content m-t-60-sm-min">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table m-t-0-xs-max">
                          <div class="pricing-table-header block-danger">
                            <span class="pricing-table-badge">
                              <i class="fa fa-venus-mars"></i>
                            </span>
                            <h5 class="pricing-table-caption">Speak With Me Yalova</h5>
                            <h2 class="pricing-table-title">SDG 5</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Cuiabá</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table">
                          <div class="pricing-table-header block-light">
                            <span class="pricing-table-badge">
                              <i class="fa fa-tint"></i>
                            </span>
                            <h5 class="pricing-table-caption">Startaê</h5>
                            <h2 class="pricing-table-title">SDG 6</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Cuiabá</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table">
                          <div class="pricing-table-header block-success">
                            <span class="pricing-table-badge">
                              <i class="fa fa-sun-o"></i>
                            </span>
                            <h5 class="pricing-table-caption">Talk Project</h5>
                            <h2 class="pricing-table-title">SDG 7</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Cuiabá</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                      
                      <div class="col-xs-12 col-sm-3">
                        <div class="pricing-table">
                          <div class="pricing-table-header block-info">
                            <span class="pricing-table-badge">
                              <i class="fa fa-line-chart"></i>
                            </span>
                            <h5 class="pricing-table-caption">X4Change</h5>
                            <h2 class="pricing-table-title">SDG 8</h2>
                            <h6 class="pricing-table-caption">Starts on November 27, 2016</h6>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-bed"></i> Cuiabá</li>
                              <li><i class="fa fa-clock-o"></i> 6 weeks</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="#download">See More</a>
                          </div>
                        </div> <!-- .pricing-table -->
                      </div>
                    </div>
                  </div> <!-- .section-content -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12" style="padding-top:5%">
                  <a class="btn btn-primary" href="#download">List More</a>
              </div>
            </div>
          </div>
        </div> <!-- #download -->
        <div id="map-canvas"></div> <!-- #map-canvas -->
      </main> <!-- .site-main -->
      <footer class="site-footer block-invert">
        <div class="container">
          <img class="site-footer-logo img-responsive" src="assets/img/site-footer-logo.png" data-sr="bottom">
          <ul class="site-footer-social-list">
            <li><a href="https://www.facebook.com/AIESECinBrazil" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com/aiesecnobrasil" target="_blank">Instagram</a></li>
            <li><a href="https://www.linkedin.com/company/aiesec-no-brasil" target="_blank">LinkedIn</a></li>
          </ul>
          <p class="site-footer-copyright">2016 © <a href="#" target="_blank">AIESEC no Brasil</a> | all rights reserved.</p>
        </div>
      </footer> <!-- .site-footer -->
    </div>
  </div>

  <script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
  <script src='assets/js/vendor/bootstrap.min.js'></script>
  <script src='assets/js/vendor/plugin.js'></script>
  <script src='assets/js/variable.js'></script>
  <script src='assets/js/map.js'></script>
  <script src='assets/js/main.js'></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <!--
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
  -->

</body>
</html>