  <div ng-include="'views/common/cover.html'"></div>

  <div id="brief_1" class="section block-default align-c-xs-max">
    <div class="container align-c">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-inner">
            <div class="section-heading">
              <img src="assets/img/stamp.png" style="width:20%;height:20%;" alt="">
              <h1><big>Impact Brazil</big></h1>
              <p><b>When we talk about Impact, it demands us to act</b>. And <u>action</u>, is what moves us every single day to deliver leadership to the world and to our country.<br/>
We don't want to be just Brazilians on board for the change we want to see happening. We invite the world to build with us a legion of changemakers, raising a fearless movement. If you found us, you must have your reasons. You must be willing to develop yourself, change the way you think and see things - And grow as a human being - For us, what matters is having your own cause - <b>But being open to join us, in a life changing journey</b>.<br/> 
What are you waiting to Impact Brazil, - With us and for you? </p>
            </div>
            <div class="section-content">
              <a class="btn btn-pink m-y-5" href="#/index/question_one?scrollTo=question1">Discover your Journey with us</a>
              <a class="btn btn-success m-y-5" href="#pricing">Make my own journey</a>
            </div> <!-- .section-content -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #brief_1 -->

  <div id="brief_2" class="section block-warning align-c-xs-max">
    <div class="container">
      <div class="row row-table">
        <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
          <div class="col-inner clearfix visible-sm visible-md visible-lg">
            <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/img/item/brief-2.png" alt="">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-inner">
            <div class="section-heading">
              <h5>Work on a</h5>
              <h2>NGO</h2>
            </div> <!-- .section-heading -->
            <div class="section-content">
              <p>In a country where inequality reaches high levels, the 3rd sector is not only fundamental but an enviroment full of opportunities. In Brazil, AIESEC works with projects all designed to contribute to the Sustainable Development Goals with methodologies that makes the exchange participant a learning facilitator, from marketing to educational projects.</p>
              <a class="btn btn-pink m-y-5" href="#/index/global_volunteer?scrollTo=opportunity_portal">Look for Opportunities</a>
            </div> <!-- .section-content -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #brief_2 -->

  <div id="brief_3" class="section block-success align-c-xs-max">
    <div class="container">
      <div class="row row-table">
        <div class="col-sm-6">
          <div class="col-inner">
            <div class="section-heading">
              <h5>Work on a</h5>
              <h2>Company</h2>
              <p>Brazil is a country full of diversity not just on the mother nature, our economy is moved by different industries and services. Our Professional Projects are focus on Marketing, Business, Teaching, IT and Engineering and provide to international students an opportunity to have a professional experience in these fields.</p>
            </div> <!-- .section-heading -->
            <div class="section-content">
              <a class="btn btn-invert m-y-5" href="#/index/global_talent?scrollTo=opportunity_portal">Look for Opportunities</a>
            </div> <!-- .section-content -->
          </div>
        </div>
        <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
          <div class="col-inner clearfix visible-sm visible-md visible-lg">
            <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/img/item/brief-3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #brief_3 -->

  <div id="brief_4" class="section block-warning align-c-xs-max">
    <div class="container">
      <div class="row row-table">
        <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
          <div class="col-inner clearfix visible-sm visible-md visible-lg">
            <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/img/item/brief-4.png" alt="">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-inner">
            <div class="section-heading">
              <h5>Work on a</h5>
              <h2>Startup</h2>
            </div> <!-- .section-heading -->
            <div class="section-content">
              <p>Brazil is globally one of the countries that is most growing in the entrepreneur scenario. With this entrepreneur culture getting stronger in Brazil the startup movement increase more than 40%. The Venture Project is an opportunity for entrepreneur students come to Brazil and work in a startup during the period of 8-12 weeks. A challenging and innovating environment is waiting for you!</p>
              <a class="btn btn-pink m-y-5" href="#/index/global_entrepreneur?scrollTo=opportunity_portal">Look for Opportunities</a>
            </div> <!-- .section-content -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #brief_4 -->

  <div ng-include="'views/common/portal.html'"></div>
  <div id="map-canvas"></div> <!-- #map-canvas -->

  <script src='assets/js/main.js'></script>