/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */
﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"True Lies";
	src:url("assets/fonts/True_Lies.eot?") format("eot"),url("assets/fonts/True_Lies.woff") format("woff"),
		url("assets/fonts/True_Lies.ttf") format("truetype"),url("assets/fonts/True_Lies.svg#TrueLies") format("svg");
	font-weight:normal;
	font-style:normal;
}
.fill{
	width:30%;height:30%;padding-top:150px;box-sizing:border-box;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  line-height: 80px;
  font-family: "True Lies", 'Lato', sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow:hidden;
}

.visible {
  font-weight:600;
  overflow:hidden;
  height: 80px;
  padding:0 80px;
  
  &:before {
    content:'[';
    left: 0;
    line-height:80px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:80px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
}

.cover2 {
	height: 100%;
}

.mobile_cover {
  font-family: "True Lies", 'Lato', sans-serif;
  font-size: 1.8em;
  line-height: 6em;
  font-weight:600;
}

.cover p {
  display:inline;
  float:left;
  margin:0;
}

.cover ul {
  margin-top:0;
  padding-left:250px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cover ul li {
  line-height:85px;
  margin:0;
  width: 500px;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

.sdgs img {
	cursor: pointer;
}

.opportunity {
	padding-top: 2%;
}


.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.zoom img {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
}

.zoom img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

.shape{
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}

.block-gv {
  background-color: #eb5a45;
  color: white;
}
.block-ge {
  background-color: #31c39e;
  color: white;
}
.block-gt {
  background-color: #0b8ea2;
  color: white;
}

.offer{
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
  border-radius:7px;
}
.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.offer-success {  border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.offer-invert {  border-color: #fff; }
.offer-invert .shape{
  border-color: transparent #fff transparent transparent;
}

.offer-content{
  padding:5% 20px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
}

.lead p{
  margin-bottom: 0px;
}

.offer-content p {
  text-align: justify;
}

.offer-content td {
  padding-top: 7% !important;
  padding-bottom: 7% !important;
  color: #777;
  font-family: Lato;
}

.offer-content table {
  margin-bottom: 0;
}

.is-desktop .section-heading h1 {
  font-weight:600;
  font-family: 'Lato', sans-serif;
  font-size: 4em;
}

/* Login page */

.login input[type="email"], .login input[type="text"],.login input[type="password"] {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

.login ::-webkit-input-placeholder, .login ::-moz-placeholder, .login :-ms-input-placeholder , .login :-moz-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.login a {
  color: #DDD;
}

.login input::-webkit-input-placeholder { /* Chrome */
  color: white !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: red;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
}