  <div id="home" class="section block-primary position-r align-c-xs-max">
    <div id="particles-js" class="site-bg">
      <div class="site-bg-img"></div>
      <div class="site-bg-video mb_YTPlayer isMuted" data-property="{videoURL: _bg_video_youtube_url, autoPlay: true, loop: _bg_video_youtube_loop, startAt: _bg_video_youtube_start, stopAt: _bg_video_youtube_end, mute: true, quality: _bg_video_youtube_quality, realfullscreen: true, optimizeDisplay: true, addRaster: false, showYTLogo: false, showControls: false, stopMovieOnBlur: false, containment: 'self'}" id="video_1478920874926" style="background-image: none;"></div>
      <div class="site-bg-overlay" style="background-color: rgba(16, 128, 242, 0.901961);"></div>
      <div class="site-bg-effect layer" data-depth=".30"></div>
      <canvas class="site-bg-canvas layer" data-depth=".30"></canvas>
    </div> <!-- .site-bg -->

    <div class="container align-c fill visible-md visible-lg">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-inner">
            <div class="section-heading content cover">
              <div class="visible">
                <p>Impact</p>
                <ul>
                  <li>your limits</li>
                  <li>your taste</li>
                  <li>your heart</li>
                  <li>Brazil</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container align-c visible-sm visible-xs">
      <div class="row row-table">
        <div class="col-sm-6">
          <div class="col-inner" data-sr="left">
            <div class="section-heading mobile_cover">
              <h1 class="mobile_cover">Impact Brazil</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #home -->