<div id="about" class="section p-a-0 align-c">
  <div class="container-fluid p-x-0">
    <div class="row row-table">
      <div class="col-sm-4 col-xs-4 col-md-4 block-gv p-x-30-sm-max p-x-60-md-min align-t-sm-min" style="padding-bottom: 30px;">
        <div class="col-inner">
          <div class="icon-box _center">
            <div class="icon-box-heading">
              <a href="#/index/global_volunteer/"><img src="assets/img/item/gv0.png" class="col-xs-12 col-sm-12" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-4 col-md-4 block-ge p-x-30-sm-max p-x-60-md-min align-t-sm-min" style="padding-bottom: 30px;">
        <div class="col-inner">
          <div class="icon-box _center">
            <div class="icon-box-heading">
              <a href="#/index/global_volunteer/"><img src="assets/img/item/ge0.png" class="col-xs-12 col-sm-12" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-4 col-md-4 block-gt p-x-30-sm-max p-x-60-md-min align-t-sm-min" style="padding-bottom: 30px;">
        <div class="col-inner">
          <div class="icon-box _center">
            <div class="icon-box-content">
              <a href="#/index/global_talent/"><img src="assets/img/item/gt0.png" class="col-xs-12 col-sm-12" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>