  <div id="pricing" class="section block-default align-c">
      <div class="section-heading zoom align-c">
        <h5>I Want</h5>
        <h2>to Impact as a</h2>
        <div class="row">
          <a href="#/index/global_volunteer/"><img src="assets/img/item/gv3.png" class="col-xs-4 col-sm-4" alt=""></a>
          <a href="#/index/global_talent/"><img src="assets/img/item/gt3.png" class="col-xs-4 col-sm-4" alt=""></a>
          <a href="#/index/global_entrepreneur/"><img src="assets/img/item/ge3.png" class="col-xs-4 col-sm-4" alt=""></a>
        </div>
      </div>
    <div class="container" ui-view></div>
  </div> <!-- #download -->