  <div id="question2" class="section block-success align-c-xs-max">
    <div class="container">
      <div class="row row-table">
        <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
          <div class="col-inner clearfix visible-sm visible-md visible-lg">
            <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/img/item/talking.png" alt="">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-inner">
            <div class="section-heading">
              <h5>Question Two</h5>
              <h2>I want to stay in Brazil ...</h2>
            </div> <!-- .section-heading -->
            <div class="section-content">
              <ul class="icon-list align-l m-t-30">
              	<li><a href="#/index/global_volunteer?scrollTo=opportunity_portal"><big>a-) During my short period vacations</big></a></li>
              	<li><a href="#/index/question_three?scrollTo=question3"><big>b-) During my longer vacations</big></a></li>
              	<li><a href="#/index/question_3?scrollTo=question3_1"><big>c-) At least one semester</big></a></li>
              </ul>
            </div> <!-- .section-content -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #brief_2 -->