  <div id="question3" class="section block-warning align-c-xs-max">
    <div class="container">
      <div class="row row-table">
        <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
          <div class="col-inner clearfix visible-sm visible-md visible-lg">
            <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/img/item/talking.png" alt="">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-inner">
            <div class="section-heading">
              <h5>Question Three</h5>
              <h2>I want to ...</h2>
            </div> <!-- .section-heading -->
            <div class="section-content">
              <ul class="icon-list align-l m-t-30">
              	<li><a href="#/index/global_volunteer?scrollTo=opportunity_portal"><big>a-) Work as a Volunteer on a NGO for 6 to 8 weeks</big></a></li>
              	<li><a ng-href="#/index/global_entrepreneur?scrollTo=opportunity_portal"><big>b-) Work as a Volunteer on a Startup for 8 to 12 weeks</big></a></li>
              </ul>
            </div> <!-- .section-content -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #brief_2 -->